*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131518;
}
#root{
  width: clamp(327px, 350px, 412px);
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  height: Max(360px, 416px) ;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-div{
  width: 100%;
  height:100%;
  display: flex;
}